{% extends 'base.html' %}

{% block content %}
<br>
<div class="card">
    <img src="{{ dish.photo.url }}" class="img-fluid" alt="{{ dish.name }}">
    <div class="card-body">
        <h5 class="card-title">{{ dish.name }}</h5>
        <p class="card-text">{{ dish.description }}</p>
        <p><strong>Інгредієнти:</strong> {{ dish.ingredients }}</p>
        <p><strong>Ціна:</strong> {{ dish.price }} грн</p>
    </div>
</div>
<hr>
<h4>Коментарі</h4>
<div class="comments mb-4">
    {% for comment in comments %}
        <div class="comment mb-2">
            <p><strong>{{ comment.user.username }}:</strong> {{ comment.text }}</p>
            <div class="d-flex align-items-center">
                {% if user.is_authenticated and user.is_superuser %}
                <form action="{% url 'delete_comment' comment.id %}" method="post" style="margin-right: 8px;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">Видалити</button>
                </form>
                {% endif %}
                <form method="post" action="{% url 'like_comment' comment.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-outline-primary">
                        <i class="fas fa-heart"></i> ({{ comment.likes.count }})
                    </button>
                </form>
            </div>
        </div>
    {% endfor %}
</div>
    {% if user.is_authenticated %}
    <h4>Додати коментар</h4>
    <form method="post" action="{% url 'add_comment' dish.id %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="content">Коментар</label>
            <textarea class="form-control" id="content" name="content" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Відправити</button>
    </form>
    {% else %}
        <p>Ви повинні <a href="{% url 'login' %}">увійти</a>, щоб додати коментар.</p>
    {% endif %}
{% endblock %}